<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="https://chl.kiev.ua/img/chit18_.gif" alt="logo">
                </a>
                @Html.ActionLink("Library Epam", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2 right-sidebar bar-block">
                <ul class="nav navbar-nav">
                    <li class="bar-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="bar-item">@Html.ActionLink("Guest", "Guest", "Guest")</li>
                    <li class="bar-item">@Html.ActionLink("Poll", "Poll", "Poll")</li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="navbar-fixed-bottom">
        <p>&copy; @DateTime.Now.Year - Yurii Futryk fytruk14@gmail.com <a href="#top">MoveTop</a></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
